.header {
  background-color: #282c34;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* يفصل بين العنصرين */
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.left-link , 
.right-link {
  margin: 0;
  color: white;
  text-decoration: none;
}

.left-link h2 {
  margin: 0; 
}
.right-link h3 {
  margin: 0; 
}
.left-link:hover,
.right-link:hover {
  color: rgb(155, 113, 151);
}

